In [25]:
import numpy as np
import pandas as pd

lst=[1,2,3,4,5,6,7,8]
np.array(lst)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [26]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5, 6, 7, 8]
1    [1, 2, 3, 4, 5, 6, 7, 8]
2    [1, 2, 3, 4, 5, 6, 7, 8]
dtype: object

In [9]:
[lst,lst,lst]

[[1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8]]

In [18]:
type(lst)

list

In [27]:
df=pd.DataFrame([lst,lst,lst,lst,lst,lst],columns=['a','b','c','d','e','f','g','h'])

In [28]:
df

   a  b  c  d  e  f  g  h
0  1  2  3  4  5  6  7  8
1  1  2  3  4  5  6  7  8
2  1  2  3  4  5  6  7  8
3  1  2  3  4  5  6  7  8
4  1  2  3  4  5  6  7  8
5  1  2  3  4  5  6  7  8

In [29]:
type(df)

pandas.core.frame.DataFrame